@import "../../styles.css";
.container-card{
    width: 100%;
    background: var(--light);
    margin: auto;
    padding: 2em 1em 3em 1em;
}
.title-card-two{
    *padding: 1em;
}
.body-card{
    display: flex; 
    flex-direction: row;  
}
.item-card{
    margin: 2em 1em;
    width: 50%;
    display: flex;
    box-sizing: border-box;
    background-color: var(--blue);
    border-radius: 0 2em 0 0em;
    *padding: 1em;
    min-height: 11.5em;
    line-height: 1em;
    color: var(--white);
    position: relative;
}
.cont-left{
    width: 65%;
}
.cont-left h3{
    font-size: 1.5em;
    line-height: 1em;
    margin-bottom: 1em;
}
.cont-left p{
    font-size: 1.2em;
    line-height: 1em;
    margin-bottom: 1em;
}
.cont-right{
    width: 35%;
    position: absolute;
    right: 0;
    bottom: -2em;
}

.item-card::before{
    content: " ";
    width: 100%;
    background-color:var(--orange);
    border-radius: 0 0 0 2em;
    height: 2em;
    position: absolute;
    top: 100%;
    right: 0;
}

@media screen and (max-width: 1150px){
    .body-card{
        display: flex; 
        flex-direction: column;         
        box-sizing: border-box;  
    }
    .item-card{
        width: 90%;         
        box-sizing: border-box;
    }
}
